<html>
  <head> <title> Movie Watchlist | {% block title %} {% endblock %} </title>

  <link media="screen, projection" type="text/css" href="{{ MEDIA_URL }}css/blueprint/screen.css" rel="stylesheet" />
  <link media="print" type="text/css" href="{{ MEDIA_URL }}css/blueprint/print.css" rel="stylesheet" />
  <!--[if lt IE 8]><link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->

  <link media="screen, projection" type="text/css" href="{{ MEDIA_URL }}css/blueprint_overrides.css" rel="stylesheet" />
  <link media="screen, projection" type="text/css" href="{{ MEDIA_URL }}css/main.css" rel="stylesheet" />

  {% block css %}
  {% endblock %}

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script> 

  {% block javascript %}
  {% endblock %}

  </head>

  <body>
    <div class="container">
      <div class="span-10 prepend-top">
        <div id="header">
          <h1><a href="{% url movies_index %}"> Movie Watchlist </a></h1>
        </div>
      </div>
      <div class="span-8 prepend-top last">
        <div id="top-menu">
          <ul>
            <li><a href="{% url movie_list %}"> movies </a>
            <li><a href="{% url person_list %}"> people </a>
            <li><a href="{% url wish_list %}"> wish list </a>
          </ul>
        </div>
      </div>

      {% block content-area %}
      {% endblock %}

    </div>
  </body>

</html>
