{% extends "base.html" %}

{% block css %}
{% endblock %}

{% block javascript %}
{% endblock %}

{% block content-area %}

  {% comment %}
    The main-content div is 24 grids wide (the .padded class adds 1 to its width, see blueprint_overrides.css).
    However, remember that you really only have 23 gridths in templates that extend this one.
  {% endcomment %}
  
  <div id="main-content" class="padded span-23">
    {% block content %}
      <h2> Main content </h2>
    {% endblock %}
  </div>

  <div id="footer" class="padded span-23 last append-top">
    <p class="footer-line">by <a href="http://www.tshaddox.com/?page_id=2">Thomas Shaddox</a>. <a href="{% url credits %}">Credits</a>.</p>
  </div>
  
{% endblock content-area %}
