{% extends "base_with_sidebar.html" %}

{% block title %}
  Credits
{% endblock %}

{% block content %}
    <h2> Credits </h2>

    <ul>
      <li> This site was created with <a href="http://djangoproject.com">Django</a>, a web framework written in <a href="http://python.org">Python</a>. </li>
      <li> This site is being hosted by <a href="http://djangy.com">Djangy</a>, a service that provides instant deployment of Django applications. Djangy is currently in beta. On twitter <a href="http://twitter.com/djangy">@djangy</a>.</li>
      <li> Movie and cast data is taken with permission from <a href="http://themoviedb.org">themoviedb.org</a>. This site uses the <a href="http://api.themoviedb.org/2.1">TMDd API</a> wrapped in <a href="https://github.com/doganaydin/themoviedb">this Python package</a> as well as some custom modifications.
      <li> This site uses the <a href="http://www.blueprintcss.org/">Blueprint</a> CSS framework with some modifications. </li>
      <li> The javascript library <a href="http://jquery.com/">jQuery</a> is used sparingly. The jQuery plugin <a href="http://tablesorter.com/docs/">tablesorter</a> is used. </li>
      <li> The version control system <a href="http://git-scm.com">git</a> is used to manage the source code for this site. All the code can be found on <a href="https://github.com/baddox/watchlist2">github</a>. </li>
      <li> This site was developed mostly using the <a href="http://www.gnu.org/software/emacs/">GNU Emacs</a> text editor running on <a href="http://www.ubuntu.com/">Ubuntu</a>. </li>
      <li> The development of this site would be more annoying were it not for <a href="https://github.com/django-extensions/django-extensions">django-extensions</a>, <a href="https://bitbucket.org/offline/django-annoying/wiki/Home">django-annoying</a>, and <a href="http://south.aeracode.org/">south</a>. </li>
      <li> Also crucial to development of this site is <a href="http://getfirebug.com/">Firebug</a> and the <a href="http://code.google.com/chrome/devtools/">Chrome Developer Tools</a>. </li>
      <li> Color ideas come from  <a href="http://www.colourlovers.com/">ColourLovers</a>. Color manipulation is done with <a href="http://www.iconico.com/colorpic/">ColorPic</a>. </li>
      <li> The best reference for CSS selectors at a glance is the <a href="http://www.css3.info/selectors-test/">CSS3 Selectors Test</a>. <a href="http://css3please.com/"> CSS3 Please!</a> is great for fancy effects.</li>
    </ul>
    
  {% endblock %}
