{% extends "base_with_sidebar.html" %}

{% block title %}
  Home
{% endblock %}

{% block content %}
  <h2> Recent Viewings </h2>
  <table>
    <thead>
      <th>Title</th>
      <th>Director</th>
      <th>Year</th>
      <th>Watched</th>
      <th>Viewings</th>
    </thead>
    <tbody>
      {% for viewing in recent_viewings %}
        <tr>
          <td> {{ viewing.movie.as_a|safe }} </td>
          <td> {{ viewing.movie.director.as_a|safe|default:"None" }} </td>
          <td> {{ viewing.movie.year }} </td>
          <td> {{ viewing.date }} </td>
          <td> {{ viewing.num_viewings }} </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <hr />
  
  <div class="span-8 append-1">
    <h3> Wish List </h3>
    <table>
      <thead>
        <th>Title</th>
        <th>Director</th>
      </thead>
      <tbody>
        {% for movie in wish_list %}
          <tr>
            <td> {{ movie.as_abbreviated_a|safe }} </td>
            <td> {{ movie.director.as_abbreviated_a|safe|default:"None" }} </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="span-8 last">
    <h3> Recommended </h3>
    <table>
      <thead>
        <th>Title</th>
        <th>Director</th>
      </thead>
      <tbody>
        {% for movie in recommended_movies %}
          <tr>
            <td> {{ movie.as_abbreviated_a|safe }} </td>
            <td> {{ movie.director.as_abbreviated_a|safe|default:"None" }} </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <hr />
  <div class="span-5 last">
    <h3> Favorite Directors </h3>
    <table>
      <thead>
        <th>Director</th>
        <th>No.</th>
      </thead>
      <tbody>
        {% for director in favorite_directors %}
          <tr>
            <td> {{ director.as_abbreviated_a|safe }} </td>
            <td> {{ director.num_movies }} </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}
