{% extends "base_without_sidebar.html" %}

  {% block title %}
    All Movies
  {% endblock %}

  {% block css %}
    <link media="screen, projection" type="text/css" href="{{ MEDIA_URL }}css/movie_list.css" rel="stylesheet">
  {% endblock %}

  {% block javascript %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/tablesorter/jquery.tablesorter.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/movie_list.js"></script>
  {% endblock %}

{% block content %}
  <h2> Movies Watched </h2>
  {% if movies %}
    <table id="movie-table">
      <thead>
        <thead>
          <th class="title">Title</th>
          <th class="director">Director</th>
          <th class="year">Year</th>
          <th class="nationality">Nation.</th>
          <th class="watched" title="Date of the most recent viewing.">Date</th>
          <th class="viewings">No.</th>
        </thead>
        <tbody>
          {% for movie in movies %}
            <tr>
              <td> {{ movie.as_a|safe }} </td>
              <td> {{ movie.director.as_a|safe|default:"None" }} </td>
              <td> {{ movie.year }} </td>
              <td> {{ movie.nationality|default:"None" }} </td>
              <td> {{ movie.most_recent_viewing|date:"SHORT_DATE_FORMAT" }} </td>
              <td> {{ movie.num_viewings }} </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p> There are no movies in the database </p>
    {% endif %}
{% endblock %}

{% comment %}
{% block sidebar %}
  <ul>
    <li><a href="{% url movie_search %}">Search for Movies</a></li>
  </ul>
{% endblock %}
{% endcomment %}
