{% extends "base_without_sidebar.html" %}

{% block title %}
  All Movies
{% endblock %}


{% block css %}
  <link media="screen, projection" type="text/css" href="{{ MEDIA_URL }}css/movie_list.css" rel="stylesheet">
{% endblock %}

{% block javascript %}
  <script type="text/javascript" src="{{ MEDIA_URL }}js/tablesorter/jquery.tablesorter.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/movie_list.js"></script>
{% endblock %}

{% block content %}
  <h2> Movies Watched </h2>
  {% if viewings %}
    <table id="movie-table">
      <thead>
        <th class="title">Title</th>
        <th class="director">Director</th>
        <th class="year">Year</th>
        <th class="nationality">Nation.</th>
        <th class="watched">Date</th>
        <th class="viewings">No.</th>
      </thead>
      <tbody>
        {% for viewing in viewings %}
          <tr>
            <td> <a href="{{ viewing.movie.get_absolute_url }}">{{ viewing.movie.title }}</a> </td>
            <td> <a href="{{ viewing.movie.director.get_absolute_url }}">{{ viewing.movie.director }}</a> </td>
            <td> {{ viewing.movie.year }} </td>
            <td> {{ viewing.movie.nationality }} </td>
            <td> {{ viewing.short_date }} </td>
            <td> {{ viewing.movie.num_viewings }} </td>
          </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>You haven't watched any movies.</p>
  {% endif %}
{% endblock %}

{% comment %}
{% block sidebar %}
  <ul>
    <li><a href="{% url movie_search %}">Search for Movies</a></li>
  </ul>
{% endblock %}
{% endcomment %}
