{% extends "base_with_sidebar.html" %}

{% block title %}
  {{ movie.title }}
{% endblock %}

{% block content %}
    <h2> {{ movie.title }} </h2>
  <div class="span-5">
      <dl>
        <dt>Released</dt>
        <dd>{{ movie.release_date }}</dd>
        <dt>Director</dt>
        <dd>
          {{ movie.director.as_a|safe|default:"None" }}
        </dd>
        <dt>Nationality</dt>
        <dd>{{ movie.nationality }}</dd>
        <dt>Runtime</dt>
        <dd>{{ movie.runtime }} minutes</dd>
      </dl>
  </div>
  <div class="span-12 last">
    {% with movie.tmdb_id as tmdb_id %}
      {% with 1 as in_db %}
        {% include "movie_buttons.html" %}
      {% endwith %}
    {% endwith %}
    <br />
    {% if viewings %}
      <h3>Viewings</h3>
      <table>
        <thead>
          <th>Date</th>
          <th>Notes</th>
        </thead>
        <tbody>
          {% for viewing in viewings %}
            <tr>
              <td> {{ viewing.date }} </td>
              <td> {{ viewing.notes|default:"None" }} </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>This movie is on your wish list.</p>
    {% endif %}
    {% if movie.comments %}
      <h3>Comments</h3>
      <p>{{ movie.comments }}</p>
    {% endif %}
  </div>
  
  {% endblock %}
