{% extends "base_with_sidebar.html" %}

{% block title %}
  All People
{% endblock %}

{% block css %}
  <link media="screen, projection" type="text/css" href="{{ MEDIA_URL }}css/person_list.css" rel="stylesheet">
{% endblock %}

{% block content %}
  <h2> People </h2>
  {% if movies %}
    {% regroup movies by director as director_list %}
  <table class="person-list">
    <thead>
      <th class="name">Name</th>
      <th class="directed">Directed</th>
    </thead>
    <tbody>
      {% for person in director_list %}
        <tr>
          <td> {{ person.grouper.as_a|safe }} </td>
          <td>
            {% with person.list as movies %}
              {% for movie in movies|slice:"0:5" %}
                <a href="{{ movie.get_absolute_url }}">{{ movie }}</a>{% if not forloop.last %}, {% endif %}
              {% endfor %}
              {% if movies|length > 5 %}
                <span> and more </span>
              {% endif %}
            {% endwith %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p>There are no people in the database.</p>
  {% endif %}
{% endblock %}
