{% extends "base_with_sidebar.html" %}

{% block title %}
  Movies To Watch
{% endblock %}

{% block content %}
  {% if recommended_movies %}
    <h2> Recommended Movies </h2>
    <table>
      <thead>
        <th>Title</th>
        <th>Director</th>
        <th>Year</th>
        <th>Rec. By</th>
      </thead>
      <tbody>
        {% for movie in recommended_movies %}
          <tr>
            <td> {{ movie.as_a|safe }}</a> </td>
            <td> {{ movie.director.as_a|safe }}</a> </td>
            <td> {{ movie.year }} </td>
            <td> {{ movie.recommended_by }} </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

  {% if wish_list %}
    <h2> Wish List </h2>
    <table>
      <thead>
        <th>Title</th>
        <th>Director</th>
        <th>Year</th>
      </thead>
      <tbody>
        {% for movie in wish_list %}
          <tr>
            <td> {{ movie.as_a|safe }}</a> </td>
            <td> {{ movie.director.as_a|safe }}</a> </td>
            <td> {{ movie.year }} </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
  {% if not recommended_movies and not wish_list %}
    <p>There are no movies to watch. :(</p>
  {% endif %}
{% endblock %}
