{% extends "base.html" %}

{% block title %}
    Wish List
{% endblock %}

{% block content %}
  <h2> Wish List </h2>
  <table>
    <thead>
      <th>Title</th>
      <th>Director</th>
      <th>Year</th>
      <th>Nationality</th>
    </thead>
    <tbody>
      {% for movie in wish_list %}
        <tr>
          <td> <a href="{{ movie.get_absolute_url }}">{{ movie.title }}</a> </td>
          <td> <a href="{{ movie.director.get_absolute_url }}">{{ movie.director }}</a> </td>
          <td> {{ movie.year }} </td>
          <td> {{ movie.nationality }} </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}